{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}

    {% if request.GET.tag|length %}
        <h4>Showing recipes tagged "{{ request.GET.tag }}"</h4>
    {% endif %}

    {% for recipespage in recipespages %}
        <p>
            <strong><a href="{% pageurl recipespage %}">{{ recipespage.title }}</a></strong><br />
            <small>Revised: {{ recipespage.latest_revision_created_at }}</small><br />
            {% if recipespage.author %}
                <p>By {{ recipespage.author.profile }}</p>
            {% endif %}
        </p>

    {% empty %}
        No pages found with that tag.
    {% endfor %}

{% endblock %}